html,
body {
  font-family: var(--fontStack);
  font-weight: var(--fontWeightRegular);
  background-color: var(--background);
  transition: var(--durationM) ease;
  transition-property: background, opacity;
  color: var(--textBody);
  width: 100vw;
  overflow-x: hidden;
  opacity: 1;
}

html:focus,
body:focus {
  outline: none;
}
